
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200&display=swap');


header  {
    z-index: 997;
    background-color: peru;
    color: black;
}

.slika  {
    z-index: 997;
    height: 400px;
    background-image: url("https://media.discordapp.net/attachments/837326649074516048/867172515829776384/mini_blur.png");
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(0.7);
}


#header.fixed-top {
    background: #191919;
}

#header .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#header .logo a {
    color: #fff;
}

#header .logo img {
    max-height: 40px;
}

.scrolled-offset {
    margin-top: 70px;
}
.navbar {
    padding: 0;
    position:sticky;
    background-color:#242323;
    border-bottom: 2px solid black;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,1);
    font-weight: 400;
    color: "#6c757d";
    font: "Jost", sans-serif;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar > ul > li {
    margin-left: 5px;
}

.navbar a, .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 15px 24px 15px;
    font-weight: 400;
    white-space: nowrap;
    transition: 0.3s;
    text-decoration: 'none'; 
    color: "#6c757d";
}


.box {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 60px;
    border: 3px solid #fff;
    padding: 40px;
    display: inline-block;
    width: 100%;
    min-width: 300px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
   background:transparent;


}

.box1 {
    position: relative;
    align-items: center;
    display: inline-block;
    min-width: 300px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0px 5px 10px 1px;
    transition: all 0.4s ease;
    background:transparent;
    margin-left: 10px;
}
.box-top{
    border-bottom: 1px solid black;
}
.donationForm{
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

.donationTop{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
}

.donationTop input{
    width: 100%;
    border: 1px solid gray;
}

.donationBottom input{
    width: 75%;
}

 [type=text], input[type=password], input[type=number],input[type=email], input[type=date] {
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: 16px;
}

.donationMail{
    padding-right: 20px;
    border: 1px solid black;
}

.nftext {

    color: white;
    font-size: 35px;
    font-family: 'Roboto Slab', serif;
    margin-left: 4px;


}

.deadline {

    color: white;
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
    margin-left: 4px;
    margin-top: 4px;
    margin-bottom: -2px;

}

::placeholder {
    color:black;
    font-size:16px;
}

      /*
      button {
      display: block;
      width: 200px;
      padding: 10px;
      margin: 20px auto 0;
      border: none;
      border-radius: 5px;
      background: #1c87c9;
      font-size: 14px;
      font-weight: 600;
      color: #fff;
      }
      */

      @media (min-width: 568px) {
      .info {
      flex-flow: row wrap;
      justify-content: space-between;
      }
      input {
      width: 46%;
      }
      input.fname {
      width: 100%;
      }
      select {
      width: 48%;
      }
      }

.card{
    width: 400px;
    height: 600px;
    transform-style:preserve-3d;
    box-shadow: 0 20px 20px rgba(0,0,0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    display: inline-block;
    border-radius: 15px;

}
.card-title{
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid gray;
}
.card img{
    width:372px;
    height: 302px;
    padding-top: 9px;
    transition: all .2s ease-in-out;
}
.card:hover{
    cursor: pointer;
}

.card img:hover{
    transform: scale(1.07);
    border-radius: 15px;
    
}

#celaForma {
    margin-left: 50px;
    border-radius: 15px;
    box-shadow: 20px 20px rgba(0,0,0,.15);

}

.labelButton {
    justify-content: center;
    align-items: center;
    margin-left:50px;

}

.fileChoose {
    padding:180px;
    border-width: 2px;
    border-radius:5px;
    border-style: solid;
    border-color:whitesmoke;
    margin-top: 10px;
    color:whitesmoke;

}

button {
    background:transparent;
    color: white;
    border: 2px solid white;
    padding: 10px;
    border-radius:15px;
  }

  button.uploader {
    background:transparent;
    color: white;
    border: 2px solid white;
    padding: 10px;
    padding-left: 162px;
    padding-right: 162px;
    border-radius:15px;
    margin-top: 20px;
  }







.buttonCampaign {

    margin-top: 20px;
    margin-right: auto;
    padding: 10px 100px;
    white-space: nowrap;
    text-align: center;
    justify-content: center;
}

.bar1 {
    background-color:#F5F5F5;
    margin-top: 20px;
    border: 1px solid gray;
    height:17px;
    color:white;
}

.bar {
    background-color:transparent;
    margin-top: 20px;
    height:17px;
    width: 470px;
    color:white;
}

progress{
    background-color: #F5F5F5;
    width: 100%;
    
}

progress::-webkit-progress-value {
     background: blueviolet;
     width: 100%; 
}


.rootdiv {
    background-image: url('https://i.imgur.com/1cGALG9.png');
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    padding-top: 1px;

}

html, body{
    /* Height and width fallback for older browsers. */
    min-height: 100%;
    margin: 0;

}

body > #root > div {
    height: 100vh;
  }

.row {
    margin-top: 1.9em;
    justify-content: space-between;
}

.titleAndImage img{
    border-radius: 10px;
}

.campaign-content h3{
    font-size: 50px;
    padding-top: 50px;
    font-family: 'Jost' sans-serif;
}

.campaign-content p{
    font-size: 18px;
    line-height: 2;
    text-align: justify;
    color: #7e7e7e;
    word-wrap: break-word;
}

.campaign-content-top{
    overflow: hidden;
    border-radius: 15px;
    background-color: #fff;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    padding-top: 10px;
    padding-bottom: 25px;
}

.campaign-image {
    overflow: hidden;
    background-color: black;
    border: 1px solid gray;
}
  
.campaign-image > img {
    width: 100%;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: opacity 500ms ease, -webkit-transform 500ms ease;
    transition: opacity 500ms ease, -webkit-transform 500ms ease;
    transition: transform 500ms ease, opacity 500ms ease;
    transition: transform 500ms ease, opacity 500ms ease,
    -webkit-transform 500ms ease;
    object-fit: cover;
}

.campaign-progress {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-top: 66px;
    border-left: 1px solid #9e9e9e;
    border-right: 1px solid #9e9e9e;
    border-bottom: 1px solid #9e9e9e;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.campaign-progress-top {
    width: 100%;
    height: 9px;
    position: relative;
    background-color: #f1f1f1;
    border-radius: 5px;
    margin-bottom: 15px;
}
.campaign-progress-top progress{
    background-color: black;
}

.campaign-progress-bottom{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 30px;
    margin-bottom: 23px;
  }
  
.campaign-progress-bottom > p {
    margin: 0;
    line-height: 1;
    font-size: 14px;
    color: #7e7e7e;
}
  
.campaign-progress-bottom > p strong {
    font-weight: 400;
    color: black;
}

.campaign-side{
    padding-top: 120px;
    margin-bottom: 80px;
}

.campaign-owner {
    margin-bottom: 30px;
    background-color: #f1f1f1;
    border-radius: 15px;
    padding: 30px;
    padding-left: 108px;
    position: relative;
  }
  .campaign-donate{
    display: grid;
    margin-bottom: 30px;
    background-color: #f1f1f1;
    border-radius: 15px;
    padding: 30px;
    position: relative;
}

.campaign-donate input{
    margin-top:10px;
    margin-bottom: 10px;
    border-radius: 15px;
    border: 1px solid #7e7e7e;
    padding: 3px;
}

.campaign-donate input::placeholder{
    color: #7e7e7e;
}

.campaign-donate button{
    width: 30%;
    margin-top: 10px;
}

.campaign-donate p{
    margin-bottom: 5px;
}

  
@media (min-width: 768px) {
    .campaign-owner {
      padding: 50px;
      padding-left: 128px;
    }
}
  
.campaign-owner > img {
    position: absolute;
    top: 30px;
    left: 30px;
    border-radius: 50%;
}
  
@media (min-width: 768px) {
    .campaign-owner > img {
      left: 50px;
      top: 50px;
    }
}
  
.campaign-owner p {
    margin: 0;
    font-size: 13px;
    font-weight: 500;
    line-height: 1;
    color: #ed4b4b;
}

.campaign-owner h5 {
    margin: 0;
    color: #000000;
    font-family: var(--thm-font);
    margin-top: 5px;
    margin-bottom: 5px;
    word-wrap: break-word;
}

.campaign-owner h3 {
    margin: 0;
    color: #6f6f6f;
    font-size: 18px;
    line-height: 1;
    font-weight: 500;
    font-family: var(--thm-font);
    margin-top: 0px;
    margin-bottom: 24px;
    word-wrap: break-word;
}
  
.campaign-owner h3 strong {
    font-weight: 500;
    color: var(--thm-black);
}

.campaign-donations{
    background-color: #f1f1f1;
    border-radius: 15px;
    padding: 30px;
    padding-bottom: 10px;
    position: relative;
}

.campaign-donations-title{
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    line-height: 1;
    margin-bottom: 8px;
}

.campaign-donations-list {
    margin-bottom: 0;
}
  
.campaign-donations-list li {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    padding-left: 80px;
}

.campaign-donations-list li::before {
    content: "";
    width: calc(100% + 40px);
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 100%;
    border-radius: 15px;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

@media (min-width: 768px) {
    .campaign-donations-list li::before {
      width: calc(100% + 70px);
    }
}
  
.campaign-donations-list li:hover:before {
    opacity: 1;
    visibility: visible;
}
  
.campaign-donations-list li > img {
    border-radius: 50%;
    left: 0;
    top: 20px;
    position: absolute;
    z-index: 10;
}
  
.campaign-donations-list li > img.anonymus {
    -webkit-filter: brightness(0%);
    filter: brightness(0%);
}
  
.campaign-donations-list li p {
    margin: 0;
    color: red;
    font-family: "Libre Baskerville", serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    position: relative;
    z-index: 10;
}
  
.campaign-donations-list li h3 {
    margin: 0;
    line-height: 1;
    color: black;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    margin-top: 13px;
    margin-bottom: 2px;
    position: relative;
    z-index: 10;
    word-wrap: break-word;
}
  
  